body {
      background: thistle;
      padding: 120px;
}
* {
      margin: 10px;
      padding: 0;
}
.cards-container {
      display: flex;
      flex-wrap: wrap;
      width: 800px;
      min-height: 300px;
      margin: 20px auto;
}
.cards-container__item {
      flex-basis: 20%;
      background: bisque;
      -webkit-box-shadow: 10px 8px 17px 6px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 8px 17px 6px rgba(0,0,0,0.75);
      box-shadow: 10px 8px 17px 6px rgba(0,0,0,0.75);
      margin-left: -70px;
      transition: margin-left 200ms;
      padding: 22px;
}
.cards-container__item:hover + .cards-container__item{
      margin-left: -20px;
}
h3 {
      height: 36px;
}
.cards-container__item_changed {
      opacity: 0.95;
      background-color: gray;
      transform: scale(0.98);
}